extends layout

block content
  .mt-5.col-md-12
  h3.text-center Email Report
  .mt-5.col-md-12
  .row
    .col-md-1
    .col-md-10
      table.table.table-sm
        thead.thead-dark
          tr
            th(scope='col') Property
            th(scope='col') Value
        tbody
          tr
            td(scope='col') Name
            td(scope='col') #{name}
          tr
            td(scope='col') Subject
            td(scope='col') #{subject}
          tr
            td(scope='col') Reply to email:
            td(scope='col') #{reply_to}
          tr
            td(scope='col') Field Merges?
            td(scope='col') #{fm}


      h4.text-center Images

      table.table.table-sm
        thead.thead-dark
          tr
            th(scope='col') #
            th(scope='col') Source
            th(scope='col') Replacement
        tbody

        each ll, index in links.elements
          tr
            th(scope='row')=index
            td=ll.source
            td=ll.replacement


      h4.text-center Hyperlinks

      table.table.table-sm
        thead.thead-dark
          tr
            th(scope='col') #
            th(scope='col') Source
            th(scope='col') Replacement
        tbody

        each ll, index in links2
          tr
            th(scope='row')=index
            td=ll[0]
            td=ll[1]


    .col-md-1

  .mt-8.col-md-12
  .row
    .col-md-1
    .col-md-5(style='text-align:-webkit-center')
      .card(style='width: 100%;')
        .card-body
          h5.card-title Email Source
          samp.card-text
            | !{html}
      br
      button.btn.btn-danger.btn-lg.btn-block.approve(type="button" signalID="#{id}" signalResult="Review") Mark for Review
    .col-md-5(style='text-align:-webkit-center')
      .card(style='width: 100%;')
        .card-body
          h5.card-title Email Target
          samp.card-text
            | !{html2}
      br
      button.btn.btn-success.btn-lg.btn-block.approve(type="button" signalID="#{id}" signalResult="Approve") Approve

     .col-md-1


